.App {
  text-align: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  border: 1px solid #a8a6a6;
  border-radius: 10px;
  padding: 35px;
  margin: 10px;
  width: 150px;
  text-align: center;
  background-color: #fff;
  color: black;
}

.input-text {
  width: 500px;
  height: 35px;
  border-radius: 8px;
  padding-left: 40px;
  margin-bottom: 25px;
}

.search-icon {
  position: relative;
  left: 30px;
  top: 4px;
  height: 19px;
  width: 20px;
}

button {
  color: blue;
}

.fetch_Error {
  color: red;
}
